@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

h1, p {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    font-size: 1.3em;
}

.container {
    border: black 3px solid;
    width: 400px;
    margin: auto;
}

